<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= content_tag_for :div, @registered_application do %>
  <div align="center">
    <h1>
      <%= "#{@registered_application.name}" %>
      <br/><%= link_to @registered_application.url, "http://#{@registered_application.url}", :target => '_blank' %>
    </h1>
      <% if policy(@registered_application).edit? %>
        <%= link_to "Edit", edit_registered_application_path, class: 'btn btn-success' %>
        <%= link_to "Delete", registered_application_path(@registered_application), method: :delete, remote: true, class: 'btn btn-danger' %>
      <% end %>
  </div>
  <h3>Events</h3>
  <hr />
  <% @events.each do |event, count| %>
    <h4><%= "#{event}" %></h4>
  <% end %>

    <%= pie_chart @registered_application.events.group(:name).count %>

    <%= line_chart @registered_application.events.group_by_day(:created_at).count %>

<% end %>
